# .editorconfig

# 根配置
root = true

# 针对所有文件
[*]
indent_style = space         # 使用空格缩进
indent_size = 2              # 每个缩进为 2 个空格
charset = utf-8              # 强制使用 UTF-8 编码
end_of_line = lf             # 强制使用 LF 行尾
insert_final_newline = true  # 文件结尾自动插入换行
trim_trailing_whitespace = true # 删除行尾空白字符